/* only for custom styles */

body {
  background: url(images/background.jpg);
  margin: 0;
}

@font-face {
  font-family: "Comic Sans";
  src: url("fonts/Qdbettercomicsans-jEEeG.ttf") format("truetype");
}

.main__title,
.main__subtext,
.player,
.computer,
.verdict__container,
.new-game-button {
  font-family: "Comic Sans";
}

article:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.new-game-button {
  border: 1px solid black;
  padding: 5px 20px;
  background: url(images/background.jpg);
}
